**/x64/Debug/*
**/x64/.vs/*
*.dSYM
.cache/
.DS_Store
**/.vs
.vscode/
log
game.obj
WinPharmaSea/**/
pharmasea/WinPharmaSea/**/
pharmasea
.obsidian/
*.o
*.d
cppcheck_err
*.gcno
*.gcov
# until they are used in the project, hiding the kennynl folder
kennynl/*
