# MCP screenshots
mcp_screenshots/
**/x64/Debug/*
**/x64/.vs/*
*.dSYM
.cache/
.ccache/
.DS_Store
**/.vs
.vscode/
log
!src/log/
game.obj
WinPharmaSea/**/
pharmasea/WinPharmaSea/**/
pharmasea.exe
.obsidian/
release/*
*.o
*.d
cppcheck_err
*.gcno
*.gcov
!/lib*.dylib
a.out
release*
recording.trace/
output/
build/
.xmake/
# until they are used in the project, hiding the kennynl folder
art_storage/*

# Ignore precompiled header cache
src/pch.hpp.gch
